@media only screen and (max-width: 1201px){

}

@media only screen and (max-width: 991px){
    #content-wrap{
        overflow: hidden;
    }
    #intro{
        max-width: 100%;
        padding: 30px 20px;
    }
    #intro h1{
        max-width: 600px;
    }
    #intro p{
        /* max-width: 600px; */
    }
    #foreground{
        position: relative;
        display: flex;
        height: fit-content;
        flex-direction: column-reverse;
    }
    #toolbar{
        padding: 20px 10px;
       
        margin: 0;
        margin-bottom: 4px;
        border-radius: 0px;
        /* border-bottom: 2px solid #2e2438; */
    }
    #demo-data{
        position: relative;
        box-shadow: none;
    }
    #demo-data-content{
        width: 100%;
    }
    #demo-data-content h1{
        background-color: #2E2438;
        color: #faf3f1
    }
    #demo-charts-wrap{
        display: flex;
    }
    #demo-charts-wrap .demo-chart{
        width:33.33%;
        flex-grow: 1;
    }
    .collapsed #demo-data{
        left: 0
    }
    #fg-left-col{
        max-width: 100%;
        position: relative;
        margin-top: 4px;
    }
    #demo-data-handle{
        display: none;
    }

    #background{
        width: 100%;
        /* padding: 20px; */
        height: 75vh;
    }
    #map{
        width: 80%;
        max-width: 550px;
        margin: auto;
        border: none;
        /* border-radius: 20px;
        overflow: hidden; */
    }
    #map-gradient{
        display: none;
    }
    #map-control{
        right: 0px;
        top: 10px;
    }
    #col-chart-wrap{
        margin-left: -5%;
        width: 108%;
    }
    #fg-right-col{
        width:100%;
    }
    #map-mask{
        display: none;
    }
    .instruction{
        display: none
    }
    #logos{
        display: none;
    }
}  

@media only screen and (max-width: 768px){
    #intro{
        padding: 30px 10px;
    }
    #intro h1{
        font-size: 36px;
    }
    #intro p{
        font-size: 16px;
    }
    #demo-charts-wrap .demo-chart{
        width:100%;
    }
    #demo-charts-wrap{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 667px){
   
}