*{
    font-family: acumin-pro, sans-serif;
}
button{
    background-color: #fff;
    border: 1px solid #222
}
img{
    max-width: 100%;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}
h1{
    font-weight: 700;
}
#content-wrap{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
#background{
    width: 65%;
    height: 100vh;
    position: relative;
}
#foreground{
    position: absolute;
    top:0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 3;
}
#demo-data{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    /* min-width: 300px; */
    background: #fff;
    box-shadow: #aaa 0 0 5px;
    z-index: 3;
    transition: left 0.4s ease-in-out;
    pointer-events: all;
    display: flex;
}
.demo-chart{
    margin-bottom: 50px;
}
.demo-chart, #demo-legend{
    padding:10px;
}
.demo-chart h2{
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 200;
    font-family: acumin-pro-semi-condensed, sans-serif;
}
.demo-chart hr{
    margin: 5px 0;
    width: 40%;
    border-color: #2E243866;
}
#demo-legend{
    margin: 20px 0;
    margin-bottom: 40px;
    justify-content: space-evenly;
}
#demo-legend .leg-item{
    display: flex;
    margin-right: 20px
}
#demo-legend .leg-item .leg-color{
    align-self: center;
    margin-right: 5px;
    border: none;
    width: 30px;
    height: 12px;
}
#demo-legend .leg-item p{
    align-self: center;
    margin-bottom: 0;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 100;
}
#fg-left-col{
    width: 100%;
    height: 100%;
    max-width: 580px;
    pointer-events: none;
    position: fixed;
    left: 0;
    top:0;
    z-index: 10;
    /* background: red; */
}
#fg-mid-col{
    position: absolute;
    left:0;
    bottom: 0;
}

#demo-data-content h1{
    font-size: 28px;
    font-weight: 300;
    padding: 20px 10px 40px;
    background-color: #faf3f1;
    color: #2E2438
}
#demo-data-content h1 span{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
}
.collapsed #demo-data{
    left: calc(-100% + 65px);
    /* min-width: unset; */
}
#demo-data-handle{
    width:65px;
    background-color: #2E2438;
    color: #fff;
    display: flex;
    cursor: pointer;
}
#demo-data-handle p{
    writing-mode: vertical-lr;
    width: max-content;
    font-size: 16px;
    align-self: center;
    text-transform: uppercase;
    margin-right:0;
    text-align: center;
}
#handle-arrow{
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
}
.collapsed #handle-arrow{
 transform: rotate(0);
}
/* #demo-data-handle p i{
    display: block;
    text-align: center;
} */
#demo-data-content{
    width: calc(100% - 40px);
    /* padding:10px; */
    height: 100%;
    overflow: scroll;
    /* background-color: #faf3f177; */
}
#fg-right-col{
    position: relative;
    width:35%;
    height: 100%;
    overflow: scroll;
    pointer-events: all;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2E2438;
    /* padding:20px; */
    /* background: linear-gradient(90deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.3) 8%,rgba(255,255,255,0.7) 15%,rgba(255,255,255,0.9) 20%,rgba(255,255,255,1) 28%); */
    /* background: #fff; */
}
#fg-right-col.selected{
    /* background-color: transparent; */
}
#logos{
    display: flex;
    justify-content: flex-end;
}
.logo-wrap{
    padding: 15px;
    max-width: 300px;
}
#uthct{
    max-width: 150px;
    padding: 20px;
}
.mapboxgl-ctrl-bottom-right{
    display: none;
}
/* #left-dash{
    width:100%;
    padding-left: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
#col-chart-wrap{
    width: 100%;
    height: fit-content;
    /* overflow: scroll; */
    position: absolute;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}
#intro{
    padding: 40px;
    /* margin-top:50%; */
    max-width: 700px;
    color: #fff;
}
#intro h1{
    font-size: 48px;
    margin-bottom: 0.5em;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 800;
    color: #E2C4BD;
    line-height: 1em;
}

.selected #intro{
    margin-top:0;
    padding: 20px;
    background-color: #2E2438 ;
}
.selected #instructions{
    display: none;
}
/* #intro-modal{
    position: fixed;
    height: fit-content;
    width: 60%;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin:auto;
    background-color: #fff;
    padding: 20px;
    transition: position 0.5s ease-in-out;
    box-shadow: #1A1A1A55 0 0 5px 0px;
    z-index: 5;
    border-radius: 10px;
} */
#intro-modal{
    opacity: 1;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    height: fit-content;
}
.selected #intro-modal{
    transition: all 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    margin-bottom: 0px;
    overflow: hidden;
}
#modal-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffffcc;
    top:0;
    left:0;
    z-index: 4;
}

#map{
    width:100%;
    height: 100%;
    border-right: 1px solid #aaa
    /* position: absolute; */
}

#toolbar{
    display: none;
    position: relative;
    opacity: 0;
    height: 0;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    margin: 0 4px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    background-color: #faf3f1;
    /* transition-delay: 0.5s; */
}

#deselect{
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    width:24px;
    height: 24px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.selected #toolbar{
    opacity: 1;
    display: flex;
    height: fit-content;
    height: -moz-fit-content;
    /* transition-delay: 0; */
}

#radarChart{
    align-self: center;
    width: 100%;
    max-width: 500px;
    position: relative;
}
#radarLegend{
    position: absolute;
    bottom:0;
    left:0;
}
.radar-legend-item{
    display: flex;
    font-size: 10px;
    text-transform: capitalize;
}
.radar-leg-color{
    width:20px;
    height: 8px;
    align-self: center;
    margin-right: 4px;
}
.radar-legend-item .state-color{
    background-color: #8e758a;
}
#col-chart{
    width: 100%;
    padding: 10px;
    /* height: 30%; */
}
#col-chart-svg-wrap{
    width: 100%;
    /* max-height: 100%; */
    padding-bottom: 25%;
    position: relative;

}
#col-chart rect{
    pointer-events: all;
    cursor: pointer;
}
#col-chart .bar-outline{
    pointer-events: none;
}
#col-chart svg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.bar-label{
    transition: all 0.2s ease-in-out;
    opacity: 0;
    font-family: acumin-pro-condensed, sans-serif

}
.bar-label-cty{
    opacity: 1;
    font-family: acumin-pro-condensed, sans-serif
}
/* .col-chart-bar:hover{
    stroke: #000;
    stroke-width:0.25px 
} */




.download-wrap {
    padding: 10px;
}
.download-wrap i{
    padding: 5px;
}

#controls{
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
#buttons{
    margin-bottom: 50px;
}
.selected #buttons{
    margin-bottom: 20px;
}
form{
    display: flex;
}
#buttons button{
    background-color: transparent;
    border-color: #E2C4BD;
    color: #E2C4BD;
    border-radius: 5px;
    padding: 3px 10px;
}
#buttons button a{
    color: #E2C4BD
}
#search-bar{
    width:40px;
    transition: all 0.5s ease-in-out;
    /* flex-grow: 1; */
    position: relative;
    align-self: flex-end;
    margin-left:10px;
    /* margin-bottom: 20px; */
    /* margin-right: 10px; */
    /* width: 50%; */
}
#main-input-ac-list{
    color: #fff;
    position: absolute;
    z-index: 2;
    background-color: #2e24387c;
}
#main-input-ac-list div{
    padding: 5px 10px;
    background-color: #f0e1da0f;
    text-transform: capitalize;
}
#main-input-ac-list div:hover, #main-input-ac-list .autocomplete-active{
    background-color: #e2c4bd45;
}
#search-bar:focus-within{
    flex-grow: 1;
}
#search-bar:hover{
    flex-grow: 1;
}

#main-input{
    width: 100%;
    border: none;
}

#submit{
    height: 34px;
    padding: 5px 10px;
    position: absolute;
    right:0;
    bottom: 3px;
    border: none;
    width: 40px;
    border-radius: 20px;
}

#select-cause{
    width:60%;
}
#map-control{
    position: absolute;
    top:20px;
    right:50px
}
#map-gradient{
    position: absolute;
    top:0;
    right:1px;
    width: 30%;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
}
#select-cause select{
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.control{
    margin-bottom: 10px;
}
.control-head{
    font-size: 14px;
    color: #E2C4BD;
    opacity: 0.8;
    /* width: 30%; */
    /* display: block; */
}

#search-bar input{
    height: 40px;
    padding: 5px 10px;
    width: 100%;
    position: relative;
    border-radius: 20px;

}

select{
    height: 40px;
    padding: 2px 10px;
}





.popup-compact{
    margin-bottom: 0;
}
.popup{
    font-weight: 200;
}
.popup span{
    font-weight: 700;
}

#popup .county{
    width:40%;
    padding-right: 15px;
}
#popup .rate-info{
    width:60%;
    padding-right: 15px;
    /* padding-top:10px */
}
#pop-name{
    font-size: 20px;
    font-weight: 700;
    overflow-wrap: break-word;
    font-family: acumin-pro-wide, sans-serif;
}
#pop-causeName{
    font-weight: 500;
}
.county-pop{
    width: fit-content;
    max-width: unset !important;
}

.county-pop p{
    margin-bottom: 0;
}
.county-pop .county-name{
    font-weight: 900;
}
.county-pop p span{
    font-weight: 700;
}

.leg-color{
    width: 20px;
    height: 10px;
    align-self: center;
    border: 1px solid #000;
}
#legend{
    /* position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px; */

    width: 100%;
    /* background-color: #ffffffee; */
    padding: 10px;
    /* margin-left: 30px; */
    font-size: 12px;
    text-align: right;
    transition: all 0.2s ease-in-out;
    /* display: none; */
}
#legend>p{
    margin-bottom: 10px;
}
.legend-item{
    display: flex;
    padding: 3px 7px;
}
.legend-item p{
    align-self: center;
    width: 80%;
    font-size: 10px;
    margin-bottom: 0;
    padding: 0 5px;
    flex-grow: 1;
}


/* bin switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 40px;
}
.switch input {display:none;}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    border: 1px solid #000
}
  
.slider:after {
    position: absolute;
    content: "";
    height: 38px;
    width: 150px;
    background-color: #ffffff;
    -webkit-transition: all cubic-bezier(.19,.69,0,1) 0.6s;
    transition: all cubic-bezier(.19,.69,0,1) 0.6s;
}
#binBtn:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}  
#binBtn:checked + .slider:after {
    -webkit-transform: translateX(149px);
    -ms-transform: translateX(149px);
    transform: translateX(149px);
    width: 99px;
} 
  
.slider .percent, .slider .rate{
    color: #1A1A1A;
    position: absolute;
    top: 10px;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    user-select: none;
    /* font-family: aktiv-grotesk-extended; */
}
#binBtn:checked + .slider .percent{
    color: #ffffff77;
}
#binBtn:not(:checked) + .slider .rate{
    color: #ffffff77;
}

.rate{
    right: 8px;
}
.percent{
    left: 8px;
}  
/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:after {
    border-radius: 9px;
}
/* Bin switch styles END */

#trend-chart{
    width: 100%;
    padding-bottom: 60%;
    position: relative;
}
#trend-chart svg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.chart-line-group{
    fill: none;
    stroke: #000;
}
.grid .tick{
    stroke-width: 0.1px;
    stroke: #eee
}
.circle-g text{
    display: none;
}
.circle-g:hover text{
    display: block;
}
.bar-g text{
    display: none;
}
.bar-g:hover text{
    display: block;
}
#map-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    background-color: #ffffffb1;
    display: block;
}
.collapsed #map-mask{
    display: none;
}
.instruction{
    position: absolute;
    max-width: 220px;
    font-weight: 300;
    font-size: 14px;
    padding: 4px;
    /* background-color: #ffffffee; */
    border-radius: 10px;
    pointer-events: none;
    /* display: none; */
}

#demo-inst{
    left: 70px;
    top: 10px
}
#demo-inst i{
    transform: rotate(-45deg);
}
#demo-inst p {
    margin-bottom: 0;
}

.mapboxgl-ctrl-logo{
    display: none !important;
}