*{
    font-family: acumin-pro, sans-serif;
}
a{
    color: #000;
}
h1{
    font-weight: 900;
}
.content-wrap{
    flex-wrap: wrap;
}
#mapwrap{
    width: 60%;
    height: 100vh;
    position: relative;
}
#map{
    width:100%;
    height: 100%;
    position: absolute;
}
#legend{
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 10px;
    min-width: 270px;
    background-color: #ffffffee;
    padding: 10px;
}
#left-col{
    width:40%;
}
#intro,#controls{
    padding: 20px;
}

.download-wrap {
    padding: 10px;
}
.download-wrap i{
    padding: 5px;
}

#controls{
    justify-content: space-between;
}
#search-bar{
    flex-grow: 1;
    position: relative;
    margin-right: 20px;
}
#search-bar input{
    height: 40px;
    padding: 5px 10px;
    width: 100%;
    position: relative;
}
#search-bar button{
    height: 40px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    z-index: 2;
}
select{
    height: 40px;
    padding: 5px 10px;
}










.county-pop{
    width: fit-content;
    max-width: unset !important;
}

.county-pop p{
    margin-bottom: 0;
}
.county-pop .county-name{
    font-weight: 900;
}
.county-pop p span{
    font-weight: 700;
}

.leg-color{
    width: 20%;
    height: 10px;
    align-self: center;
    border: 1px solid #aaa;
}
.legend-item{
    display: flex;
    padding: 7px;
}
.legend-item p{
    align-self: center;
    width: 80%;
    font-size: 12px;
    margin-bottom: 0;
    padding: 0 5px;
}